/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



body{
    background:url("../images/bg.jpg") repeat-y scroll;
    background-position:center -800px;
}

.main{
    margin-top:80px;
}

.mostRecentSearch {
    margin-left:80%;
    background-color:white;
    border: 2px solid black;
    opacity: 0.5;
    filter: alpha(opacity=60);
    border-radius: 5px 5px 5px 5px;
   
    
}
#location-display {
    
    font-weight: bold;
    color: #000000;
}
#alcohol-display {
   
    font-weight: bold;
    color: #000000;
}
#food-display {
   
    font-weight: bold;
    color: #000000;
}
#titleRecent {

    font-weight: bold;
    color: #000000;
    border-bottom: black solid;
}
